body {
  font-family: Herculanum, "Eras Demi ITC", sans-serif;
  margin: 0;
  padding: 0;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #282828;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
  
/* Links inside the navbar */
.navbar a.links {
  float: right;
  display: block;
  color: #D9D9D9;
  text-align: center;
  padding: 21px 28px;
  text-decoration: none;
  font-size: 24px;
}

.navbar a.title {
  float: left;
  display: block;
  color: #D9D9D9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 36px;
}

.navbar a.title:hover {
  background: #282828;
  color: #D9D9D9;
}

/* Change background on mouse-over */
.navbar a.links:hover {
  background: #D9D9D9;
  color: #282828;
}

.wallpaper {
  margin-top: 70px;
}

.monitoramento {
  float: right;
  width: 50%;
}

.monitoramento table {
  float: right;
  margin-top: 20px;
  margin-right: 50px;
  background-color: #F4D2E0;
  color: #282828;
  border-radius: 25px;
}

.monitoramento th, td {
  padding: 14px;
  font-size: 28px;
  text-align: center;
}


/*chatbot*/

#chatbot {
  margin-top: 20px;
  margin-left: 50px;
  float: left;
  width: 47%;
}

#chat {
  margin: auto;
  background-color: #D9D9D9;
  font-size: 18px;
  border: 1px solid #fff;
  padding: 10px 10px;
  text-align: left;
  color: #282828;
  border-radius: 10px;
}

#textIn {
  align-items: center;
  background-color: #D9D9D9;
  font-size: 18px;
  width: 70%;
  border: 0;
  padding: 10px 10px;
  text-align: center;
  color: #282828;
  font-weight: bold;
  border-radius: 10px;
}

#centerize{
  text-align: center;
}

#send {
  align-items: center;
  background-color: #282828;
  font-size: 16px;
  width: 20%;
  border: 0;
  padding: 10px 0;
  text-align: center;
  color: #D9D9D9;
  font-weight: bold;
  border-radius: 10px;
}

.about {
  align-items: center;
  color: #282828;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 30px;
}

.team {
  margin-top: 30px;
  margin-left: 45px;
  width: 30%;
  float: left;
}

.team img {
  border-radius: 25px;
}

.contato h1 {
  font-size: 36px;
}

.contato p {
  color: #282828;
  font-size: 24px;
}

.contato {
  margin-top: 30px;
  margin-left: 50px;
  text-align: justify;
  width: 55%;
  float: right;
}
